/* Button styles */
button {
  background-color: #2e2e2e;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  border-style: none;
  padding: 15px 90px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.35);
}

button:hover {
  background-color: #1e5c84;
  transform: scale(1.05);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.light {
  background-color: rgb(216, 216, 216);
  color: #2e2e2e;
}

.red {
  background-color: rgb(206, 73, 73);
  color: #2e2e2e;
  font-weight: 900;
}

.red:hover {
  background-color: rgb(219, 0, 0);
}

.medium {
  padding: 15px 30px 15px 30px;
  margin: 5px;
}

.small {
  font-size: 0.9rem;
  padding: 12px 24px 12px 24px;
  margin: 5px;
}
