/* Contact Page */
.contact-page-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: center;
}

.contact-page-item {
  padding: 14px;
  text-align: left;
  box-sizing: border-box;
  flex: 1;
}

.contact-page-item img { border-radius: 10px; width: 100%; }

.contact-page-item p,
.contact-page-item a {
  margin-top: 13px;
  margin-bottom: 13px;
  display: inline-block;
}

.contact-left-column {
  flex: 0 1 calc(10% - 20px);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-right-column {
  flex: 0 1 calc(90% - 20px);
  display: flex;
  flex-direction: column;
  width: 100%;
}
