/* Home Page Header */
.header-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 50px;
  align-items: flex-start;
  background-color: #eff0f5;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.profile, .about {
  flex: 1;
  margin: auto;
  padding: 50px;
}

@media (max-width: 459px) {
  body { min-width: 410px; }
  .header-content {
    background-color: transparent;
    box-shadow: none;
  }
  .profile, .about { padding: 0px; }
}

.profile { text-align: center; }

.profile-picture {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.social-links img {
  padding: 10px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.social-links img:hover {
  filter: invert(100%) grayscale(100%) brightness(30%);
  transition: filter 0.3s ease, transform 0.3s ease;
  transform: scale(1.2);
}

.about p { font-size: 1.2rem; }
.about div { text-align: center; }
