/* Home Page Header */
.header-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 50px;
  align-items: flex-start;
  background-color: #eff0f5;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.profile, .about {
  flex: 1;
  margin: auto;
  padding: 50px;
}

@media (max-width: 459px) {
  .header-content {
    background-color: transparent;
    box-shadow: none;
  }
  .profile, .about {
    padding: 0px;
  }
}
