/* Profile and about */
.profile { text-align: center; }

.profile-picture {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.social-links img {
  padding: 10px;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.social-links img {
  transition: transform 0.3s ease-in-out;
}

.social-links img:hover {
  filter: invert(100%) grayscale(100%) brightness(30%);
  transition: filter 0.3s ease, transform 0.3s ease;
  transform: scale(1.2);
}

.about p { font-size: 1.2rem; }

.about div { text-align: center; }
