/* Project cards and layout */
.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-column {
  flex: 1;
  min-width: 200px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;
}

.project-item-outer {
  flex: 1 1 calc(33.333% - 1rem); /* 3 columns */
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.project-item-outer:hover {
  transform: scale(1.03);
}

.project-item-outer:hover .project-item-inner {
  background-color: #d6defa;
}

@media (max-width: 900px) {
  .project-item-outer {
    flex: 1 1 calc(50% - 1rem); /* 2 columns on medium screens */
  }
}

@media (max-width: 600px) {
  .project-item-outer {
    flex: 1 1 100%; /* 1 column on small screens */
  }
}

.project-item-outer a { vertical-align: top; }

.project-item-outer a img{ display: block; max-width: 100%; height: auto; }

.project-item-inner {
  height: 260px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  background-color: #eff0f5;
}

.project-title a {
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
}

.project-item-inner p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  -webkit-box-orient: vertical;
  margin: 0;
}

.project-learn-more { margin-top: auto; font-weight: 700; }

.project-filler {
  flex: 1 1 calc(33.333% - 1rem); /* 3 columns */
  box-sizing: border-box;
}
