/* Project page styles */
.project-page-container {
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding-top: 30px;
}

@media (max-width: 459px) {
  .project-page-container {
    flex-direction: column;
    gap: 30px;
  }
}

.left-column { flex: 1; }

.right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.right-column img,
.right-column iframe,
.right-column video{
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  border: 0px;
  border-radius: 10px;
  margin: 10px;
}
