/* Root stylesheet that imports modular CSS files for easier navigation */
/* Keep this file as the single stylesheet link in HTML; it aggregates modular files. */

@import url("css/base.css");
@import url("css/header.css");
@import url("css/profile.css");
@import url("css/buttons.css");
@import url("css/dropdown.css");
@import url("css/projects.css");
@import url("css/contact.css");
@import url("css/project-page.css");
@import url("css/viewer.css");
@import url("css/responsive.css");