.numbers { font-family: "Roboto", sans-serif; font-weight: 100; }

.skills-container {
display: flex;
flex-wrap: wrap;
gap: 20px;
}
.skill-column {
flex: 1;
min-width: 200px;
}

/* Ensure the carousel container maintains a 16:9 aspect ratio */
.carousel-container {
position: relative;
width: 100%;
padding-top: 56.25%; /* 16:9 aspect ratio (9 / 16 = 0.5625) */
overflow: hidden;
}

/* Slides (images and iframe) inside the container */
.carousel-slide {
position: absolute;
top: 0;
left: 0;
width: 100%;
aspect-ratio: 16 / 9;
object-fit: cover;
}

/* Show the first image initially */
.carousel-slide:first-child {
display: block;
}

.text-column {
flex: 1;
}

.image-column {
flex: 1;
display: flex;
flex-direction: column;
gap: 10px;
}

.image-column img,
.image-column iframe,
.image-column video{
width: 100%;
aspect-ratio: 16 / 9;
height: auto;
border: 1px solid #ccc;
border-radius: 6px;
}

.image-column img {
cursor: pointer;
}

#FullImageView {
display: none;
position: fixed;
z-index: 9999;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.8);
text-align: center;
}

#FullImage {
margin-top: 100px;
max-width: 60%;
text-align: center;
}

#CloseButton {
position: fixed;
top: 50px;
right: 100px;
font-size: 6rem;
color: white;
cursor: pointer;
}

#FullScreenButton {
position: absolute;
top: 1%;
right: 10px;
background-color: rgba(0, 0, 0, 0.5);
color: white;
border: none;
font-size: 24px;
cursor: pointer;
padding: 10px;
border-radius: 10%;
z-index: 10;
}

/* Navigation buttons */
.carousel-button {
position: absolute;
top: 50%;
transform: translateY(-50%);
background-color: rgba(0, 0, 0, 0.5);
color: white;
border: none;
font-size: 24px;
cursor: pointer;
padding: 12px;
border-radius: 10%;
z-index: 10;
}

/* Dot container styling */
.dot-container {
text-align: center;
padding: 10px 0;
}

/* Individual dot styling */
.dot {
display: inline-block;
height: 12px;
width: 12px;
margin: 0 4px;
border-radius: 50%;
background-color: #bbb;
cursor: pointer;
}

.active {
background-color: #717171;
}

.prev {
left: 10px;
}

.next {
right: 10px;
}

/* Custom button styles */
.w3-button.custom-blue {
background-color: #0092d6 !important;
color: white !important;
border: none;
}

.w3-button.custom-blue:hover {
background-color: #0173a7 !important;
color: white !important;
}

.project-card {
height: 260px;
display: flex;
flex-direction: column;
justify-content: flex-start;
overflow: hidden;
padding: 16px;
}

.project-card p {
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 6;
line-clamp: 6;
-webkit-box-orient: vertical;
}

.project-card h4 {
margin: 0;
padding-top: 8px;
}

.project-card p {
margin: 0;
padding-top: 16px;
}

.project-card a:last-of-type {
margin-top: auto; /* Push the "Learn More" link to the bottom */
}

.video-container {
display: flex;
justify-content: center;
padding: 20px;
}

/* Footer Styling */
footer {
background-color: #333; /* Dark grey background */
color: #fff;            /* White text color */
padding: 32px 0;
text-align: center;
font-size: 0.9em;
}

footer .w3-center {
display: flex;
justify-content: center;
align-items: center;
}

footer .social-icon-white {
display: inline-block;
margin: 0 6px;
transition: transform 0.3s ease, filter 0.3s ease; /* Smooth animation for hover */
}

footer .social-icon-white img {
width: 20px;
height: 20px;
filter: brightness(0) invert(1); /* Makes image white */
transition: filter 0.3s ease, transform 0.3s ease; /* Smooth hover effect */
}

footer .social-icon-white:hover img {
filter: brightness(0.8) sepia(1) hue-rotate(150deg); /* Subtle color change on hover */
transform: scale(1.1); /* Slight zoom effect */
}

@media (max-width: 600px) {
    footer .social-icon-white img {
    width: 20px; /* Smaller icons on mobile */
    height: 20px;
    }
}

/* Project Page */
.project-page-container {
display: flex;
flex-direction: row;
gap: 30px;
padding: 20px;
}

@media (max-width: 768px) {
.project-page-container {
    flex-direction: column;
}
}

.nested-link {
padding-top: 4px !important;
padding-bottom: 4px !important;
padding-left: 50px !important;
padding-top: 0px !important;
}