/* HTML5 Elements */
*          { box-sizing: border-box; }

html       { background: #ffffff; }

body {
  margin: 0;
  padding: 0px 50px 50px 50px;
  max-width: 1500px;
  margin: auto;
  font-family: sans-serif;
  background: #ffffff;
}

footer     { background: #ffffff; }

h1, h2, h3, h4, h5, h6 {
  color: #000000;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #1e5c84;
}

h2 {
  font-size: 1.7rem;
  font-weight: 700;
  margin-top: 60px;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
}

p          { line-height: 1.5; margin-bottom: 1rem; }
a          { color: #000000; text-decoration: underline; }
ol         { padding-left: 1.5rem; }
ul         { padding-left: 1.5rem; }
li         { margin-bottom: 0.5rem; }

hr {
  height: 2px;
  border-width: 0;
  background-color: #1e5c84;
}

button {
  background-color: #2e2e2e;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  border-style: none;
  padding: 15px 90px 15px 90px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

button:hover {
  background-color: #1e5c84;
  transform: scale(1.05);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.light {
  background-color: white;
  color: #2e2e2e;
}

.red {
  background-color: rgb(206, 73, 73);
  color: #2e2e2e;
  font-weight: 900;
}

.red:hover {
  background-color: rgb(219, 0, 0);
}

.medium {
  padding: 15px 30px 15px 30px;
  margin: 5px;
}

.small {
  font-size: 0.9rem;
  padding: 12px 24px 12px 24px;
  margin: 5px;
}

.centred-horizontally {
  display: flex;
  justify-content: center;
}

/* Home Page Header */
.header-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 50px;
  align-items: flex-start;
  background-color: #eff0f5;
}

.profile, .about {
  flex: 1;
  margin: auto;
  padding: 50px;
}

.profile {
  text-align: center;
}

.profile img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.social-links img {
  padding: 10px;
  width: 45px;
  height: 45px;
  cursor: pointer;
} 

.social-links img {
  transition: transform 0.3s ease-in-out;
}

.social-links img:hover {
  filter: invert(100%) grayscale(100%) brightness(30%);
  transition: filter 0.3s ease, transform 0.3s ease;
  transform: scale(1.2);
}

.about p {
  font-size: 1.2rem;
}

.about div {
  text-align: center;
}

/* Skills */
.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-column {
  flex: 1;
  min-width: 200px;
}

/* Project Cards */
.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;
}

.project-item-outer {
  flex: 1 1 calc(33.333% - 1rem); /* 3 columns */
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
  border-radius: 10px;
}

.project-item-outer:hover {
  transform: scale(1.03);
}

.project-item-outer:hover .project-item-inner {
  background-color: #d6defa;
}

@media (max-width: 900px) {
  .project-item-outer {
    flex: 1 1 calc(50% - 1rem); /* 2 columns on medium screens */
  }
}

@media (max-width: 600px) {
  .project-item-outer {
    flex: 1 1 100%; /* 1 column on small screens */
  }
}

.project-item-outer a {
  vertical-align: top;
}

.project-item-outer a img{
  display: block;
  max-width: 100%;
  height: auto;
}

.project-item-inner {
  height: 260px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  background-color: #eff0f5;
}

.project-title a {
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
}

.project-item-inner p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  -webkit-box-orient: vertical;
  margin: 0;
}

.project-learn-more {
  margin-top: auto; /* Push the "Learn More" link to the bottom */
  font-weight: 700;
}

.project-filler {
  flex: 1 1 calc(33.333% - 1rem); /* 3 columns */
  box-sizing: border-box;
}

/* Contact Page */
.contact-page-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: center;
}

.contact-page-item {
  padding: 14px;
  text-align: left;
  box-sizing: border-box;
  flex: 1;
}

.contact-page-item img{
  border-radius: 10px;
  width: 100%;
}

.contact-page-item p,
.contact-page-item a {
  margin-top: 13px;
  margin-bottom: 13px;
  display: inline-block;
}

.contact-left-column {
  flex: 0 1 calc(10% - 20px);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-right-column {
  flex: 0 1 calc(90% - 20px);
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Project Page */
.project-page-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-top: 30px;
}

@media (max-width: 768px) {
  .project-page-container {
    flex-direction: column;
  }
}

.left-column {
  flex: 1;
}

.right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.right-column img,
.right-column iframe,
.right-column video{
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
}

/* Dot styling */
.dot-container {
  text-align: center;
  padding: 10px 0;
}

.dot {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 4px;
  border-radius: 50%;
  background-color: #bbb;
  cursor: pointer;
}

.active {
  background-color: #717171;
}

/* Fullscreen Image */
#FullImageView {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

#FullImage {
  margin-top: 100px;
  max-width: 70%;
  text-align: center;
}