<hr>
<div class="container">
    <h4 id="contact"><b>Contact Me</h4>
    <div  style="margin:0 -16px">
    <div>
        <p></i></p>
        <p><span>dylanka3@gmail.com</span></p>
    </div>
    <div>
        <p></i></p>
        <p>Sydney, Australia</p>
    </div>
    <div>
        <p></i></p>
        <p><span>(+61) 468 432 861</span></p>
    </div>
    </div>
    <hr >
</div>
