<footer class="container">
    <div class="footer-content">
        <p>
            © {{ site.year }} Dylan Archer.
        </p>
        <div class="footer-icons">
            <a href="https://github.com/dylan-ka" target="_blank" class="social-icon-white">
                <img width="30px" class="footer-href" src="Images/Logos/GitHubLogo.png" alt="GitHub">
            </a>
            <a href="https://dylanka.itch.io/" target="_blank" class="social-icon-white">
                <img width="30px" class="footer-href" src="Images/Logos/ItchLogo.webp" alt="Itch.io">
            </a>
            <a href="https://www.linkedin.com/in/dylan-archer-44a783338/" target="_blank" class="social-icon-white">
                <img width="30px" class="footer-href" src="Images/Logos/LinkedInLogo.webp" alt="LinkedIn">
            </a>
        </div>
    </div>
</footer>
