<footer class="container">
    <div class="footer-content">
        <p>
            &copy; {{ site.year }} Dylan Archer.
        </p>
        <div class="footer-icons">
            <a href="https://github.com/dylan-ka" target="_blank" rel="noopener" class="social-icon-white" title="View my GitHub repositories">
                <img width="30" class="footer-href" src="Images/Logos/GitHubLogo.png" alt="GitHub" >
            </a>
            <a href="https://dylanka.itch.io/" target="_blank" rel="noopener" class="social-icon-white" title="Check out my Itch.io profile">
                <img width="30" class="footer-href" src="Images/Logos/ItchLogo.webp" alt="Itch.io">
            </a>
            <a href="https://www.linkedin.com/in/dylan-archer-44a783338/" target="_blank" rel="noopener" class="social-icon-white" title="Check out my LinkedIn profile">
                <img width="30" class="footer-href" src="Images/Logos/LinkedInLogo.webp" alt="LinkedIn">
            </a>
        </div>
    </div>
</footer>
