<div>
    <button onclick="window.location.href='index.html'" class="medium">About Me</button>
    <div class="dropdown">
        <button onclick="window.location.href='index.html#projects'" class="dropbtn medium">Projects</button>
        <div class="dropdown-content">
            <div class="dropdown-sub">
                <a href="index.html#game-projects">Game Development</a>
                <div class="dropdown-sub-content">
                    <a href="DualWield.html">Dual Wield</a>
                    <a href="Caved-In.html">Caved In</a>
                    <a href="PacStudent.html">PacStudent</a>
                    <a href="Wormy.html">Wormy</a>
                </div>
            </div>
            <div class="dropdown-sub">
                <a href="index.html#web-projects">Web Development</a>
                <div class="dropdown-sub-content">
                    <a href="GroceryStore.html">Online Grocery Store</a>
                    <a href="CarRentalSystem.html">Online Car Rental</a>
                </div>
            </div>
            <div class="dropdown-sub">
                <a href="index.html#mobile-projects">Mobile Development</a>
                <div class="dropdown-sub-content">
                    <a href="Quiz-App.html">Quiz App</a>
                    <a href="OnTaskPro.html">Task Tracker App</a>
                </div>
            </div>
            <div class="dropdown-sub">
                <a href="index.html#3d-projects">Modelling & Animation</a>
                <div class="dropdown-sub-content">
                    <a href="Blender.html">3D Modelling Project</a>
                    <a href="3DAnim.html">Unity 3D Animation</a>
                </div>
            </div>
            <div class="dropdown-sub">
                <a href="index.html#other-projects">Other Projects</a>
                <div class="dropdown-sub-content">
                    <a href="ClashOfCommands.html">Clash of Commands</a>
                </div>
            </div>
        </div>
    </div>
    <button onclick="window.location.href='Contact.html'" class="medium">Contact</button>
</div>
