---
layout: layout.njk
title: Dylan Archer Portfolio
permalink: "index.html"
---
{% from "components/project-card.njk" import projectCard %}

<header>
  <div class="header-content">
    <!-- Left Side -->
    <div class="profile">
      <img src="Images/ProfilePicture.jpeg" class="profile-picture" alt="Dylan Archer">
      <h1 style="margin-bottom: 20px;">Dylan Archer</h1>
      <h2 style="font-size: 1.5rem; font-weight: 100; margin-top: 0px;">Software Developer (Games, Web, Mobile)</h2>
      <div class="social-links">
        <img src="Images/Logos/LinkedInLogo.webp"
          onclick="window.open('https://www.linkedin.com/in/dylan-archer-44a783338', '_blank')">
        <img src="Images/Logos/GitHubLogo.png"
          onclick="window.open('https://www.github.com/Dylan-KA?tab=repositories', '_blank')">
        <img src="Images/Logos/ItchLogo.webp" onclick="window.open('https://dylanka.itch.io/', '_blank')">
      </div>
    </div>

    <!-- Right Side -->
    <div class="about">
      <h1>About Me</h1>
      <p>
        Hi, my name is Dylan Archer and I am a recent graduate of <b>Bachelor of Science in Games Development with
          Distinction</b> at UTS.
      </p>
      <p>
        While I am passionate about making and playing games, my skill set also spans <b>software, web, and mobile
          development</b>,
        allowing me to bring ideas to life across a range of platforms.
      </p>
      <p>
        This portfolio showcases solo and group projects I have worked on. Take a look around, and feel free to get in
        touch if anything sparks your interest!
      </p>
      <div>
        <div class="dropdown">
          <button onclick="window.location.href='index.html#projects'" class="dropbtn">Projects</button>
          <div class="dropdown-content">
            <a href="index.html#game-projects">Game Development</a>
            <a href="index.html#web-projects">Web Development</a>
            <a href="index.html#mobile-projects">Mobile Development</a>
            <a href="index.html#3d-projects">Modelling & Animation</a>
            <a href="index.html#other-projects">Other Projects</a>
          </div>
        </div>
        <button onclick="window.open('Resume.pdf', '_blank')">Resume</button>
      </div>
    </div>
  </div>
</header>

<!-- Awards Section -->
<h2>Awards</h2>
<ul>
  <li>2025 Dean's List (UTS Faculty of Engineering and Information Technology)</li>
  <li>Nominated for UTS Tech Festival 2024 Student Games Showcase (Game Design Studio 1)</li>
  <li>Nominated for UTS Tech Festival 2023 Student Games Showcase (Game Design Methodologies)</li>
</ul>

<!-- Skills Section -->
<h2>Skills</h2>
<div class="skills-container">
  <div class="skill-column">
    <div>
      <h3>Programming Languages</h3>
    </div>
    <ul>
      <li>C++</li>
      <li>C#</li>
      <li>Java</li>
      <li>Python</li>
      <li>Swift</li>
      <li>JavaScript</li>
      <li>PHP</li>
      <li>MySQL</li>
      <li>HTML, CSS</li>
    </ul>
  </div>
  <div class="skill-column">
    <div>
      <h3>Project Management</h3>
    </div>
    <ul>
      <li>Git / GitHub</li>
      <li>Trello</li>
      <li>Jira</li>
      <li>Confluence</li>
    </ul>
    <div>
      <h3>Cloud & DevOps</h3>
    </div>
    <ul>
      <li>CI/CD with GitHub Actions</li>
      <li>Cloud Deployment (AWS)</li>
    </ul>
  </div>
  <div class="skill-column">
    <div>
      <h3>Game Development Tools</h3>
    </div>
    <ul>
      <li>Unity</li>
      <li>Unreal Engine 5</li>
      <li>Blender</li>
    </ul>
    <div>
      <h3>Game Development Fields</h3>
    </div>
    <ul>
      <li>Gameplay Programming</li>
      <li>Networking/Multiplayer</li>
      <li>UI/UX Development</li>
      <li>3D Modelling</li>
    </ul>
  </div>
</div>

<h1 id="projects">Projects</h1>

<h2 id="game-projects">Game Development</h2>
<div class="project-container">
  {% for project in projects.games %}
  {{ projectCard(project.link, project.img, project.title, project.logos[0], project.logos[1], project.logos[2],
  project.description) }}
  {% endfor %}
  <!-- Filler Section -->
  <div class="project-filler"></div>
  <div class="project-filler"></div>
</div>

<h2 id="web-projects">Web Development</h2>
<div class="project-container">
  {% for project in projects.web %}
  {{ projectCard(project.link, project.img, project.title, project.logos[0], project.logos[1], project.logos[2],
  project.description) }}
  {% endfor %}
  <!-- Filler Section -->
  <div class="project-filler"></div>
</div>

<h2 id="mobile-projects">Mobile Development</h2>
<div class="project-container">
  {% for project in projects.mobile %}
  {{ projectCard(project.link, project.img, project.title, project.logos[0], project.logos[1], project.logos[2],
  project.description) }}
  {% endfor %}
  <!-- Filler Section -->
  <div class="project-filler"></div>
</div>

<h2 id="3d-projects">3D Modelling & Animation</h2>
<div class="project-container">
  {% for project in projects.modelling %}
  {{ projectCard(project.link, project.img, project.title, project.logos[0], project.logos[1], project.logos[2],
  project.description) }}
  {% endfor %}
  <!-- Filler Section -->
  <div class="project-filler"></div>
</div>

<h2 id="other-projects">Other Projects</h2>
<div class="project-container">
  {% for project in projects.other %}
  {{ projectCard(project.link, project.img, project.title, project.logos[0], project.logos[1], project.logos[2],
  project.description) }}
  {% endfor %}
  <!-- Filler Section -->
  <div class="project-filler"></div>
  <div class="project-filler"></div>
</div>

{% include "components/footer.njk" %}